<!-- <div class="topnav">
  <a routerLink="/home">Home</a>

  <a routerLink="/about">About</a>

  <div class="lessons-list" *ngIf="isLogin else noUser">

    <div class="text-right mt-2">
      <button type="submit" class="button btn btn-primary" (click)="logout()">Logout</button>

    </div>
  </div>

  <ng-template #noUser>

    <a routerLink="/login">Login</a>
    <a routerLink="/signup">Signup</a>

  </ng-template>



  <!-- <form>
        <label for="gsearch">Search</label>
        <!-- <input type="Search" (change)="searchHandler($event)"> -->
  <!-- <input type="search" class="form-control" placeholder="Search" (keyup)="searchHandler($event)"> -->
  <!-- <input type="search" class="form-control" placeholder="Search" (change)="onSearchCustomer($event)" -->
  <!-- </form>  -->
<!-- </div> -->