<!-- 


<h1>

    Date: {{ dateToday  }} <br>

    Date Pipe: {{ dateToday | date | uppercase}}<br>

    Date Pipe: {{ dateToday | date: 'short' | lowercase}} <br>

    Name: {{ name | uppercase}} <br>

    Name: {{ name | slice:6}}

</h1>



<div>
<input type ="radio" name ="radio1" (click) ="changevalue(true)" >True
<input type ="radio" name ="radio1" (click) ="changevalue(false)">false
</div>

<div *ngIf ="isvalid">
    This is valid data
</div>

<div *ngIf ="!isvalid">
    This is not valid data
</div>
 -->
